@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@plugin "daisyui";

@plugin "daisyui/theme" {
	name: 'corporate';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(98% 0.001 106.423);
	--color-base-200: oklch(97% 0.001 106.424);
	--color-base-300: oklch(92% 0.003 48.717);
	--color-base-content: oklch(21% 0.006 56.043);
	--color-primary: oklch(76% 0.233 130.85);
	--color-primary-content: oklch(98% 0.031 120.757);
	--color-secondary: oklch(65% 0.241 354.308);
	--color-secondary-content: oklch(97% 0.014 343.198);
	--color-accent: oklch(72% 0.219 149.579);
	--color-accent-content: oklch(98% 0.018 155.826);
	--color-neutral: oklch(14% 0.004 49.25);
	--color-neutral-content: oklch(98% 0.001 106.423);
	--color-info: oklch(70% 0.165 254.624);
	--color-info-content: oklch(28% 0.091 267.935);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(26% 0.051 172.552);
	--color-warning: oklch(75% 0.183 55.934);
	--color-warning-content: oklch(26% 0.079 36.259);
	--color-error: oklch(70% 0.191 22.216);
	--color-error-content: oklch(25% 0.092 26.042);
	--radius-selector: 2rem;
	--radius-field: 0.25rem;
	--radius-box: 0.25rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}
